
@{
    ViewBag.Title = "Micro Trivia";
}

<br />
<div class="jumbotron">
    <div class="text-center">
        <img src="~/Content/logo.png" height="300" />
    </div>
</div>

<div id="divName">
    <div class="form-group row">
        <div class="col-md-12">
            <h3>
                Please enter your name:
            </h3>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <input id="inputName" class="form-control" />
        </div>
        <div class="col-m-9">
            <input id="regButton" type="button" value="Register" class="btn btn-default" />
        </div>
    </div>
</div>
<div id="divNameHidden" style="display:none">
    <div class="form-group row col-md-12 alert alert-success" style="margin-left: 0">
        <h3>Player name: <label id="lblName" /></h3>
    </div>
    <div class="form-group row col-md-12 alert alert-info" style="margin-left: 0">
        <h3>Current question: <label id="lblQuestion" /></h3>
    </div>
</div>
<div id="gameBoard" style="display:none">
        <div class="form-group row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Current answers
                    </div>
                    <div class="panel-body">
                        <ul id="messages" class="wrapper clearfix myul"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Leaderboard
                    </div>
                    <div class="panel-body">
                        <ul id="leaderboard" class="wrapper clearfix myul"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <h3>
                    Please enter your answer:
                </h3>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <input id="inputMessage" type="text" class="form-control" />
            </div>
            <div class="col-md-9">
                <input id="sendButton" type="button" value="Send Answer" class="btn btn-default" />
            </div>
        </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/microtrivia")

}